.app {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.app__videos {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
