.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100vh;
}

.app__videos {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 95%;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .app__videos {
    border-radius: 0;
    height: 100%;
  }
}
